@import 'reset-css';

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Thin.woff2) format('woff2');
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Light.woff2) format('woff2');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Regular.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Medium.woff2) format('woff2');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-SemiBold.woff2) format('woff2');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url(@/assets/fonts/Roboto/Roboto-Bold.woff2) format('woff2');
  font-display: swap;
  font-weight: 700;
}

:root {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  /* Vars */
  --color-bg: #0A0A0C;
  --color-text: #E6E6E6;
  --assent-color: #194BFD;
  --color-link: #194BFD;
}

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

main {
  flex-grow: 1;
}

header,
footer {
  flex-grow: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.2rem;
  transition: all ease-in-out .4s;
}

a:hover {
  color: var(--color-link);
  transition: all ease-in-out .2s;
}

.panel {
  background: rgba(23, 23, 25, 0.44);
  margin: 40px 0;
  padding: 24px;
  border-radius: 12px;
}

.btn,
button {
  display: inline-flex;
  background: var(--color-link);
  color: #fff;
  border: 2px solid transparent;
  outline: none;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  padding: 10px 16px;
  cursor: pointer;
  transition: all ease-in-out .4s;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn,
button:hover {
  background: transparent;
  border-color: var(--color-link);
  color: var(--color-link);
  transition: all ease-in-out .2s;
}

.btn.btn--gradient {
  position: relative;
  background: linear-gradient(90deg, #194BFD -15%, #AD13FB 140%);
  color: var(--color-text);
  border: none;
  font-weight: 400;
  overflow: hidden;
  z-index: 1;
}

.btn.btn--gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-90deg, #194BFD -15%, #AD13FB 140%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.btn.btn--gradient:hover::before {
  opacity: 1;
}

.accent {
  color: var(--assent-color);
}

h1,
.h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 40px;
}

h2,
.h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 2rem;
  font-weight: 700;
}