@import 'reset-css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  /* Vars */
  --color-bg: #242424;
  --color-text: rgba(255,255,255, .8);
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  /* --color-blue: #194BFD;
  --color-violet: #AD13FB;
  --color-text: #575757;
  --color-bg: #2a2b2e; */
}

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

main {
  flex-grow: 1;
}

header,
footer {
  flex-grow: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-link);
  font-weight: 600;
  font-size: 1.2rem;
  transition: all ease-in-out .4s;
}

a:hover {
  color: var(--color-link-hover);
  transition: all ease-in-out .2s;
}

.panel {
  background: rgb(51, 51, 51, .4);
  margin: 40px 0;
  padding: 24px;
  border-radius: 12px;
}