input,
textarea {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--assent-color);
    outline: none;
    resize: none;
}

textarea {
    min-height: 100px;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-group label {
    position: absolute;
    top: 13px;
    left: 10px;
    transition: all ease-in-out .2s;
    background: #fff;
    height: inherit;
    padding: 0 4px;
    cursor: text;
}

.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label {
    top: -6px;
}